
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">


    <!-- AXIOS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- JQUERY 3.5 -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/Mensajes.js"></script>
    <script src="~/Scripts/jquery.noty.packaged.js"></script>
    <script src="~/Scripts/jquery.dynamicTable-1.0.0.js"></script>



    <!-- =============== DataTable ===============-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>


    <!-- =============== Select2 4.1.0 ===============-->
    <link href="~/Scripts/select2-4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2-4.1.0-rc.0/js/select2.min.js"></script>
    <script src="~/Scripts/select2-4.1.0-rc.0/js/i18n/es.js"></script>



    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="~/Scripts/sweetAlert2_11/sweetalert2@10.js"></script>
    <script src="~/Scripts/PDFObject/pdfobject.min.js"></script>


</head>




<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar" style="margin-bottom: 50px;">

                <!--Inicio de los datos del usuario -->
                <p></p>
                <p></p>


                <div class="text-center">
                    <Image src="~/Imagenes/Perfil.png" ID="fotoPerfil" Class="img-thumbnail" width="60" height="60" style=" box-shadow: 0px 6px 4px 2px #74BC7C; margin-bottom:15px;" />


                    <div>

                        <Label ID="lblNombreCorto" style="margin-bottom: 0px;"> Admin Sistema </Label>
                        <br />
                        <Label ID="lblPuesto"> USUARIO.</Label>
                    </div>

                </div>

                <!--Fin los datos del usuario -->


            </div>


            <!-- Inicio del area de menus y sub menus-->
            <!--           <ul class="list-unstyled components" style=" box-shadow: 0px 6px 4px 2px #74BC7C;"></ul>   -->
            <ul class="list-unstyled">
                @*<p>Dummy Heading</p>*@



                <li id="textomenu" style="padding: 0px 0px 5px 20px; ">
                    Menú
                </li>

                <li class="false ">





                <li>
                    <a href="#pageSubmenu" title="Pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <em class="fas fa-search-dollar"></em>
                        Ejemplo opciones
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="@Url.Action("Contact", "Home")">Ir a "Extras"</a>

                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home")">Ir "Modales / datatable"</a>
                        </li>

                    </ul>
                </li>









            </ul>
            <!-- Fin del area de menus y sub menus-->

        </nav>
        <!-- Fin de SideBart-->
        <!-- Inicio del Navbar  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn ">
                        <i class="fas fa-bars"></i>
                        @*<span>Toggle Sidebar</span>*@
                    </button>
                    <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" title="Ocultar barrra de Menu">
                        <i class="fas fa-angle-double-down"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="btn navbar-nav ml-auto">

                            <li class="btn d-inline-block  ml-auto">
                                <a class="nav-link" href="#">Page</a>
                            </li>


                            <button type="button" id="sidebarCollapse" class="btn d-inline-block  ml-auto" title="Pantalla completa">
                                <i class="fa fa-expand"></i>
                                @*<span>Toggle Sidebar</span>*@
                            </button>


                            <button type="button" id="sidebarCollapse" class="btn d-inline-block  ml-auto" title="Cerrar Session">
                                <i class="fas fa-sign-out-alt"></i>
                                @*<span>Toggle Sidebar</span>*@
                            </button>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fin del Navbar  -->
            <!-- Inicio del Nombre del sistema-->

            <section>
                <div class="row">
                    <div class="col">
                        <p class="@ViewBag.Icono" style="margin-left: 30px; font-size: 1.4em;">&nbsp @ViewBag.Title</p>
                    </div>

                    <div class="col" style="text-align: right;">

                        <p class="fa fa-cube" style="margin-right:30px; font-size: 1.4em; color: #74BC7C;">&nbsp APLICACION v01</p>

                    </div>
                </div>
            </section>

            <!-- Fin del Nombre del sistema-->



            <div class="line"></div>


            <div class="container-fluid">
                @RenderBody()

              
            </div>




        </div>










    </div>



    <footer id="pieDePagina" class=" fixed-bottom" style="background: #74BC7C;     height: 70px;  ">

        <section class="row">

            <div class="col-12 text-center">
                <img src="~/Imagenes/LOGO SAFIN_ HORIZONTAL.png" style="height: 55px; margin-top:6px;" />
            </div>

        </section>

    </footer>










</body>


</html>




<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebar').toggleClass('active');


        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            /* $('footer').css(background: #000000);*/

        });
    });


</script>
<script src="~/Scripts/SCRIPTS_DEL_PROYECTO_VISTAS/About_verVistaParcial.js"></script>
@RenderSection("Scripts", required: false)