@*<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@





<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">


    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    @*<script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>*@
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @*  *@
    <!-- Site -->
    @*<link rel="stylesheet" href="~/Content/Site.css">
        <script src="~/Scripts/Site.js"></script>*@
</head>




<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar" style="margin-bottom: 60px;">

                <!--Inicio de los datos del usuario -->
                <p></p>
                <p></p>


                <div class="text-center">
                    <Image src="~/Imagenes/Perfil.png" ID="fotoPerfil" Class="img-thumbnail" width="60" height="60" style=" box-shadow: 0px 6px 4px 2px #74BC7C; margin-bottom:15px;" />


                    <div>

                        <Label ID="lblNombreCorto" style="margin-bottom: 0px;"> Admin Sistema </Label>
                        <br />
                        <Label ID="lblPuesto"> E.M.</Label>
                    </div>

                </div>

                <!--Fin los datos del usuario -->


            </div>


            <!-- Inicio del area de menus y sub menus-->
            <!--           <ul class="list-unstyled components" style=" box-shadow: 0px 6px 4px 2px #74BC7C;"></ul>   -->
            <ul class="list-unstyled">
                @*<p>Dummy Heading</p>*@



                <li id="textomenu" style="padding: 0px 0px 5px 20px; ">
                    Menú
                </li>

                <li class="false ">


                <li>
                    <a href="#pageSubmenu2" title="Pages2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <em class="fa fa-money-check-alt"></em>
                        FOLIACIÓN
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="#">Inventario</a>
                        </li>
                        <li>
                            <a href="#">Foliar</a>
                        </li>
                        <li>
                            <a href="#">Refoliar</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#pageSubmenu" title="Pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <em class="fas fa-search-dollar"></em>
                        BUSCADOR
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Cheque</a>
                        </li>
                        <li>
                            <a href="#">Cheques Cancelados</a>
                        </li>

                    </ul>
                </li>









            </ul>
            <!-- Fin del area de menus y sub menus-->

        </nav>
        <!-- Fin de SideBart-->
        <!-- Inicio del Navbar  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn ">
                        <i class="fas fa-bars"></i>
                        @*<span>Toggle Sidebar</span>*@
                    </button>
                    <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" title="Ocultar barrra de Menu">
                        <i class="fas fa-angle-double-down"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="btn navbar-nav ml-auto">

                            <li class="btn d-inline-block  ml-auto">
                                <a class="nav-link" href="#">Page</a>
                            </li>


                            <button type="button" id="sidebarCollapse" class="btn d-inline-block  ml-auto" title="Pantalla completa">
                                <i class="fa fa-expand"></i>
                                @*<span>Toggle Sidebar</span>*@
                            </button>


                            <button type="button" id="sidebarCollapse" class="btn d-inline-block  ml-auto" title="Cerrar Session">
                                <i class="fas fa-sign-out-alt"></i>
                                @*<span>Toggle Sidebar</span>*@
                            </button>



                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fin del Navbar  -->
            <!-- Inicio del Nombre del sistema-->





            <section>
                <div class="row">
                    <div class="col">
                        <p class="@ViewBag.Icono" style="margin-left: 30px; font-size: 1.4em;">&nbsp @ViewBag.Title</p>
                    </div>

                    <div class="col" style="text-align: right;">

                        <p class="fa fa-cube" style="margin-right:30px; font-size: 1.4em; color: #74BC7C;">&nbsp Foliación v01</p>

                    </div>
                </div>
            </section>


            @*<div class="row-cols-6 nombreSistema" style="margin-bottom: 0px;">

                    <em class="fa fa-cube" style="font-size: 1.4em; color:#74BC7C;">&nbsp Foliación v01</em>
                </div>*@


            <!-- Fin del Nombre del sistema-->



            <div class="line"></div>


            <div class="container-fluid">
                @RenderBody()
            </div>




        </div>










    </div>



    <footer id="pieDePagina" class=" fixed-bottom" style="background: #74BC7C;     height: 70px;  ">

        <section class="row" >

         
            @*<div class="col-5 text-left" style="border:solid;">

                <img src="~/Imagenes/SAIG.png" style="        height: 60px; margin-left: 8px;" />

            </div>

            <div class="offset-1 col-6  text-right" style="border:solid; ">
                
                <img src="~/Imagenes/crecerengrande.png" style="        height: 60px; margin-right: 8px;" />

            </div>*@

            <div class="col-12 text-center">
                <img src="~/Imagenes/SAIG.png" style="height: 65px;" />
            </div>

        </section>

        @*<div class="text-left">
            <img src="~/Imagenes/SAIG.png" style="        height: 60px; margin-left: 20px;" />
        </div>

        <div class="text-right">
            <img src="~/Imagenes/crecerengrande.png" style="        height: 60px; margin-right: 20px;" />
        </div>*@


    </footer>











    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebar').toggleClass('active');


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
               /* $('footer').css(background: #000000);*/

            });
        });


    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>


</html>
